<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard for Patient</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>
</head>

<body>
<div id="mySideNav" class="sideNav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">Dashboard</a>
    <!--<a th:href="@{patient/search-doctor(userID=${param.userID})}">Doc</a>-->
    <a th:href="@{patient/search-doctor(userID=${param.userID})}">Doctors</a>
    <a href="#">Insurance</a>
    <a href="#">Settings</a>
    <a href="/logout">Log out</a>
</div>


<div id="main">
    <h1 style="cursor: pointer;" onclick="openNav()" th:text="'Welcome back ' + ${patient.fName} + ' ' + ${patient.lName}" th:object="${patient}"></h1>

    <div th:object="${patient}" style="width:100vw;">
        <form th:action="@{/patient/save-patient/{userID}(userID=${param.userID})}" th:object="${patient}" method="POST">
            <ul class="flex">
                <li class="li-person">
                    <label for="fname" class="lbl">First name:</label><br>
                    <input type="text" class="p-info" id="fname" th:field="${patient.fName}"/>
                </li>
                <li class="li-person">
                    <label for="lname" class="lbl">Last name:</label><br>
                    <input type="text" class="p-info" id="lname" th:field="${patient.lName}"/>
                </li>
                <li class="li-person">
                    <label for="DOB" class="lbl">Date Of Birth:</label><br>
                    <input type="text" class="p-info" id="DOB" th:field="${patient.DOB}"/>
                </li>
                <li class="li-person">
                    <label for="gender" class="lbl">Gender:</label><br>
                    <input type="text" class="p-info" id="gender" th:field="${patient.gender}"/>
                </li>
                <li class="li-person">
                    <label for="address" class="lbl">Address:</label><br>
                    <input type="text" class="p-info" id="address" th:field="${patient.address}"/>
                </li>
                <li class="li-person">
                    <label for="pNumber" class="lbl">Phone Number:</label><br>
                    <input type="text" class="p-info" id="pNumber" th:field="${patient.phoneNumber}"/>
                </li>
                <li class="li-person">
                    <label for="allergie" class="lbl">Allergies:</label><br>
                    <input type="text" class="p-info" id="allergie" th:field="${patient.allergies}"/>
                </li>
                <li class="li-person">
                    <label for="insurance" class="lbl">Insurance Information:</label><br>
                    <input type="text" class="p-info" id="insurance" th:field="${patient.insuranceInfo}"/>
                </li>
            </ul>
            <button type="submit">save</button>
        </form>
    </div>
    <br>
    <ul>
        <li>
            <div class="dropdown">
                <button onclick="dropDown(0)"class="dropbtn">Vitals <i class="fa fa-caret-down 0"></i></button>
                <form th:action="@{/patient/save-vital/{userID}(userID=${param.userID})}" th:object="${listVitals}" method="POST">
                    <table style = "border: 1px solid black" id = "myDropdown0" class="dropdown-content">
                        <thead class="thead-dark">
                        <tr>
                            <th>Date</th>
                            <th>Height</th>
                            <th>Weight</th>
                            <th>Temperature</th>
                            <th>Blood Pressure</th>
                            <th>Modify By</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="vital: ${listVitals}">
                            <td th:text="${vital.date}">Date</td>
                            <td th:text="${vital.height}">Height</td>
                            <td th:text="${vital.weight}">Weight</td>
                            <td th:text="${vital.temp}">Temparute</td>
                            <td th:text="${vital.bloodPress}">Blood Pressure</td>
                            <td th:text="${vital.modifyBy}">Modify By</td>
                        </tr>
                        <tr th:each="vital: ${vital}">
                            <td> <input type="text" style="width:95%; text-align: center;" th:field="${vital.date}"/></td>
                            <td> <input type="text" style="width:95%; text-align: center;" th:field="${vital.height}"/></td>
                            <td> <input type="text" style="width:95%; text-align: center;" th:field="${vital.weight}"/></td>
                            <td> <input type="text" style="width:95%; text-align: center;" th:field="${vital.temp}"/></td>
                            <td> <input type="text" style="width:95%; text-align: center;" th:field="${vital.bloodPress}"/></td>
                        </tr>
                        <tr><td><button type="submit">save</button></td></tr>
                        </tbody>

                    </table>
                </form>
            </div>
        </li>
        <li>
            <div class="dropdown">
                <button onclick="dropDown(1)"class="dropbtn">Vaccinations <i class="fa fa-caret-down 1"></i></button>
                <form th:action="@{/patient/save-vacs/{userID}(userID=${param.userID})}" th:object="${listVacs}" method="POST">
                    <table style = "border: 1px solid black" id = "myDropdown1" class="dropdown-content">
                        <thead class="thead-dark">
                        <tr>
                            <th>Date</th>
                            <th>Name</th>
                            <th>Modify By</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="vacs: ${listVacs}">
                            <td th:text="${vacs.date}">Date</td>
                            <td th:text="${vacs.name}">Name</td>
                            <td th:text="${vacs.modifyBy}">Modify By</td>
                        </tr>
                        <tr th:each="vacs: ${vacs}">
                            <td> <input type="text" style="width:95%; text-align: center;" th:field="${vacs.date}"/></td>
                            <td> <input type="text" style="width:95%; text-align: center;" th:field="${vacs.name}"/></td>
                        </tr>
                        <tr><td><button type="submit">save</button></td></tr>
                        </tbody>

                    </table>
                </form>
            </div>
        </li>
        <li>
            <div class="dropdown">
                <button onclick="dropDown(2)"class="dropbtn">Visit <i class="fa fa-caret-down 2"></i></button>
                <form th:action="@{/patient/save-visit/{userID}(userID=${param.userID})}" th:object="${listVisits}" method="POST">
                    <table style = "border: 1px solid black" id = "myDropdown2" class="dropdown-content">
                        <thead class="thead-dark">
                        <tr>
                            <th>Date</th>
                            <th>Reason</th>
                            <th>Note</th>
                            <th>Modify By</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="visit: ${listVisits}">
                            <td th:text="${visit.date}">Date</td>
                            <td th:text="${visit.reason}">Reason</td>
                            <td th:text="${visit.note}">Note</td>
                            <td th:text="${visit.modifyBy}">Modify By</td>
                        </tr>
                        <tr th:each="visit: ${visit}">
                            <td> <input type="text" style="width:95%; text-align: center;" th:field="${visit.date}"/></td>
                            <td> <input type="text" style="width:95%; text-align: center;" th:field="${visit.reason}"/></td>
                            <td> <input type="text" style="width:95%; text-align: center;" th:field="${visit.note}"/></td>
                        </tr>
                        <tr><td><button type="submit">save</button></td></tr>
                        </tbody>

                    </table>
                </form>
            </div>
        </li>
    </ul>


    <form class="form-inline my-2 my-lg-0" method="post" th:action="@{/logout}">
        <button class="btn btn-outline-danger my-2 my-sm-0 btn-sm" type="submit">logout</button>

    </form>
</div>

<script>
    function openNav() {
        document.getElementById("mySideNav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
        document.getElementById("mySideNav").style.width = "0";
        document.getElementById("main").style.marginLeft= "0";

    }

    function dropDown(x) {
        document.getElementById("myDropdown" + x).classList.toggle("show");
        switchArrow(x);
        var dropdowns = document.getElementsByClassName("dropdown-content");
        for (let i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (x != i && openDropdown.classList.contains('show')) {
                document.getElementById("myDropdown" + i).classList.remove("show");
                switchArrow(i);
            }
        }
    }

    function switchArrow(x){
        var icon=document.getElementsByClassName("fa-caret-down" + " " + x)[0];
        if(icon){
            icon.className = icon.className.replace("fa-caret-down" + " " + x, "fa-caret-up" + " " + x);
        }
        else{
            icon=document.getElementsByClassName("fa-caret-up" + " " + x)[0];
            icon.className = icon.className.replace("fa-caret-up" + " " + x, "fa-caret-down" + " " + x);
        }
    }

    /*window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            for (let i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                    switchArrow(i);
                }
            }
        }
    }*/




</script>
</body>
</html>
