<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard for Patient</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>
<div id="mySideNav" class="sideNav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">Schedule</a>
    <a href="#">Doctors</a>
    <a href="#">Insurance</a>
    <a href="#">Settings</a>
    <a href="#">Log out</a>
</div>

<div id="main">
    <h1 style="cursor: pointer;" onclick="openNav()">[Patient Name]</h1>

    <input type="text" name="toSearch" class="toSearch" placeholder="Search for ">

    <div>
        <table style = "border: 1px solid black">
            <thead class="thead-dark">
            <tr>
                <th>User ID</th>
                <th>E-mail</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="doctor: ${listDoctors}">
                <td th:text="${doctor.userID}">User ID</td>
                <td th:text="${doctor.email}">E-mail</td>
                <td th:text="${doctor.fName}">First Name</td>
                <td th:text="${doctor.lName}">Last Name</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

<script>
    function openNav() {
        document.getElementById("mySideNav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
        document.getElementById("mySideNav").style.width = "0";
        document.getElementById("main").style.marginLeft= "0";
    }
</script>
</body>
</html>
