<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Dashboard for Insurance</title>
        <link th:href="@{/css/style.css}" rel="stylesheet" />
    </head>

    <body>
        <div id="mySideNav" class="sideNav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">Search for</a>
            <a href="#">Clients</a>
            <a href="#">Settings</a>
            <a href="#">Log out</a>
        </div>

        <div id="main">
            <h1 style="cursor: pointer;" onclick="openNav()">[Insurance Name]</h1>

            <input type="text" name="toSearch" class="toSearch" placeholder="Search for ">

            <div>
                <table style = "border: 1px solid black">
                    <tr>
                        <th>First Name</th>
                        <th>Middle Name</th>
                        <th>Last Name</th>
                        <th>Date of Birth</th>
                        <th>See more details</th>
                    </tr>
                    <tr>
                        <td>Josh</td>
                        <td>Lenon</td>
                        <td>Wick</td>
                        <td>1968-4-17</td>
                        <td><a href=""> ... </a></td>
                    </tr>
                </table>
            </div>

        </div>

        <script>
            function openNav() {
                document.getElementById("mySideNav").style.width = "250px";
                document.getElementById("main").style.marginLeft = "250px";
            }
            
            function closeNav() {
                document.getElementById("mySideNav").style.width = "0";
                document.getElementById("main").style.marginLeft= "0";
            }
        </script>
    </body>
</html>
