<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>forget-password</title>
        <link th:href="@{/css/style.css}" rel="stylesheet" />
    </head>

    <body>
    <div class="container">
        <form action="/forget-post" method="POST">
        <div class="form" style="width: 100%;">
            <div class="form-title">
                <h1>Forget password</h1>
            </div>
            <div class="form-container">
                <ul>
                        <li><input type="text" placeholder="Email" name="email"/></li>
                        <li><button style="width: 50%;" type="submit">Submit</button></li>
                        <li><span class="error" th:text="${message}"></span></li>
                        <li><a href="/login"><h5>Cancel</h5></a></li>
                </ul>
            </div>
        </div>
        </form>
    </div>
    </body>
</html>
